:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 150px;
    background-color: #ffc6f1;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .light {
    width: 30px;
    height: 30px;
    border-radius: 40%;
    opacity: 0.2;
  }
  
  .light.active {
    opacity: 1;
  }
  
  .red {
    background-color: #ff0e0e;
    border-radius: 50px;
  }
  
  .yellow {
    background-color: #fff820;
    border-radius: 50px;
  }
  
  .green {
    background-color: #40f146;
    border-radius: 50px;
  }
  
  button {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #40f146;
    text-align: center;
    color: #ffdcf6;
    font-size: 15px;
  }
  
  button:hover {
    background-color: #34c339;
  }
  
  button:disabled {
    background-color: #333030;
    cursor: not-allowed;
  }