.intersection {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .light-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  
  .north,
  .south {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .north {
    top: 0;
  }
  
  .south {
    bottom: 0;
  }
  
  .east,
  .west {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .east {
    right: 0;
  }
  
  .west {
    left: 0;
  }
  
  .button-north,
  .button-south,
  .button-east,
  .button-west {
    background-color: #4db850; 
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 3px;
    cursor: pointer;
    padding: 17px 30px;
    transition-duration: 0.4s;
  }
  
  .button-north:hover,
  .button-south:hover,
  .button-east:hover,
  .button-west:hover {
    background-color: #4db850;
  }
  
  .button-north {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .button-south {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .button-east {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
  }
  
  .button-west {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
  }
  
  .accident-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    font-size: 25px;
    background-color: #ff54cc;
    color: #ffd3ed;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .accident-button:hover {
    background-color: #ff00b3;
  }
  
  .accident-button:disabled {
    background-color: #fcc4f6;
    cursor: not-allowed;
  }